{{#each category}}
<h2>{{category_name}}</h2>
<table>
    <tr>
        <th>id</th>
        <th>Product Name</th>
        <th>Quantity</th>
    </tr>
    {{#each product}}
    <tr>
        <th>{{id}}</th>
        <th>{{product_name}}</th>
        <th>{{quantity}}</th>
    </tr>
    {{/each}}
</table>
{{/each}}