<article>
<div class="container">
    <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>My Warehouses</h2>
            <p class="mt-40">
                <a href="/dashboard/create-warehouse" class="btn btn-primary btn-outline btn-lg">Create New Warehouse</a>
            </p>
        </div>
    </div>
</div>
<div id="fh5co-services" class="fh5co-bg-section">
    <div class="container">
        <div class="row">
            {{#each warehouses as |warehouse|}}
            <div class="col-md-3 col-sm-3 text-center">
                <div class="card border border-dark bg-light" style="width: 18rem;">
                    <div class="card-body">
                        <h3>{{warehouse_name}}</h3>
                        <p>{{description}}</p>
                        <a href="/dashboard/warehouse/{{id}}" class="btn btn-primary btn-outline">Check it Out</a>
                    </div>
                </div>
                    <!--<div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <i class="flaticon-coffee"></i>
                        </span>
                        <h3 class="btn btn-primary btn-outline">{{warehouse_name}}</h3>
                    </div>-->
            </div>
            {{/each}}
        </div>
    </div>
</div>
</article>