<aside id="fh5co-hero">
    <div class="hero-banner jumbotron jumbotron-fluid">
        
        <video autoplay muted loop>    
            <source src="" data-src="/images/ECommerce.mp4" type="video/mp4">
            </video>
        <div class="container">
            <div class="col-md-12 text-center">
                <div class="desc">
                    <p>Ship Space is the digital solution to your logistics problems. We are focused on streamlined inventory management services and excellent customer service.</p>
                        <hr>
                    <p>Sign Up Now to Get Started</p>
                    <h2><a href="/login" class="btn btn-primary btn-outline btn-lg">Sign Up</a></h2>
                </div>

            </div>
        </div>
    </div>
</aside>
